@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
nav a:hover {
	text-decoration: none;
	color:grey;
}
nav a.active{
	color: #f4d03f;
}
.nav_bar{
	height: 7vh;
	box-sizing: border-box;
	border-bottom: 1px solid #f4d03f;
}
nav a{
	position: relative;
	color:#adb5bd;
	margin-left: 1rem;
	font-family: 'Raleway', sans-serif;
	font-size: 1.2rem;
}
.nav_bar{
	box-sizing: border-box;

	background-color: #2e3131!important;

}
.logo{

}
@keyframes dance{
40%{
      transform:rotate(-180deg);
    }
}